*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* root eliments */

:root{
    --bg-color: rgba(255, 144, 14, 0.10);
    --accent-color:rgba(255, 144, 14, 1.00);
    --dark-1:#131313;
    --dark-2:#424242;
    --dark-3:#727272;
}
.flex-space-between{
    display:flex;
    justify-content:space-between;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.btn-styles{
    background-color:var(--accent-color);
    padding: 20px 25px;
    font-size:1.25rem;
    font-weight:500;
    color:#FFFF;
    border: none;
    border-radius: 5px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--dark-2);
    font-size: 1.125rem;
}

/* header sections */
.header{
    max-width:1920px;
    max-height: 1322px;
    background-color: var(--bg-color);
}
.logo{
    font-weight:bold;
    font-size:2.8rem;
    color:var(--dark-1);
}
.nav-bar{
    /* margin:20px 180px; */
    align-items: center;
    padding:20px 150px;
}
.nav-list {
    gap:50px;
}