*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* root eliments */
:root{
    --bg-color: rgba(255, 144, 14, 0.10);
    --accent-color:rgba(255, 144, 14, 1.00);
    --dark-1:#131313;
    --dark-2:#424242;
    --dark-3:#727272;
}
.flex-space-between{
    display:flex;
    justify-content:space-between;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.btn-styles{
    background-color:var(--accent-color);
    padding: 20px 25px;
    font-size:1.25rem;
    font-weight:500;
    color:#FFFF;
    border: none;
    border-radius: 5px;
}
.btn-styles:hover{
    cursor: pointer;
    font-size: 1.28rem;
    transition: 0.4s ease;
}
ul li {
    list-style: none;
}
ul li a:hover{
    color: var(--accent-color);
    transition: 0.4s ease;
}
ul li a{
    text-decoration: none;
    color: var(--dark-2);
    font-size: 1.125rem;
}
img{
    width:100%;
    height: 100%;
}
/* header sections */
.banner, .features , .features-2, .facts, .sponsors, .features-container{
        margin:50px auto;
}
.banner{
    margin-top: 0;
}
.header{
    max-width:1920px;
    height:auto;
    margin:0 auto;
    padding-bottom: 50px;
    background-color: var(--bg-color);
}
.logo-planners img{
    height:100%;
    width:40px;
}
.logo{
    font-weight:bold;
    font-size:2.8rem;
    color:var(--dark-1);
}
.nav-bar{
    /* margin:20px 180px; */
    align-items: center;
    padding:50px 150px;
}
.nav-list {
    gap:50px;
}
.fa-bars{
    font-size:2rem;
}
.login-for-mobile{
    display: none !important;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 10px 20px;
    font-size:1.25rem;
    font-weight:500;
    border-radius: 5px;
}
.login-for-mobile:hover{
    background-color:var(--accent-color);
    border: none;
    color:#FFFF;
    cursor: pointer;
    transition: 0.4s ease;
}
/* banner sections */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.banner-content{
    width:730px;
    margin: 80px auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight:bold;
}
.banner-description{
    margin: 30px 0;
    color: var(--dark-3);
}
/* .banner-image{
    margin-bottom: 200px;
} */
/* main section */
main{
    max-width:1440px;
    margin:0 auto;
}
.features{
    align-items: center;
    flex: 1;
    gap:100px;
    margin: 50px;
}
.planners-image{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:20px;
}

.planners-descriptions{
    width:40%;
}
.features-title{
    font-size:2.8rem;
    font-weight:bold;
}
.span-dark-2{
    color: var(--dark-2);
}
.span-accent{
    color: var(--accent-color);
}
.features-description{
    color: var(--dark-3);
    margin: 20px 0;
}
/* features-2 */
.features-container{
    gap:10%;
    
}
.features-2 img{
height:100%;
}
.features-list{
    width:45%;
}
.fearures-card{
padding: 30px;
border-radius: 10px;
margin-bottom: 20px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-title{
    border-left: 5px solid var(--accent-color);
    margin-right: 50px;
    padding-left: 20px;
}
.feature-list-description{
    margin: 50px 0;
}
.feature-btn{
    text-align: center;
}
.btn-feature{
    font-size: 4rem;
    margin: -80px 0 0 -50px;
}
/* facts */
.facts-cards-container{
margin-top: 80px;
display: grid;
text-align: center;
grid-template-columns: repeat(4 ,240px);
justify-content:space-between;
}
.fact-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 50px;
}
.fact-card img{
    width:50px;
    height:50px;

}
.factcs-number{
    font-size:3rem;
    color: var(--dark-2);
}
.fact-details{
    color: var(--dark-3);
}
/* sponsors */
.sponsors{
    text-align: center;
    margin:100px auto;
}
.sponsors-title{
    border:none;
    font-size:2.8rem;
}
.sponsors-subtitle{
    margin:30px 200px;
}
.sposors-companies-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap:100px;
    justify-content: space-between;
}
.sposors-companies-container img{
    filter: grayscale(100%);
}
.footer{
    max-width:1920px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 20px 0;

}
.footer p{
    margin: 50px auto;
    color: var(--dark-2)
}
/* extra large device */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
.header, .footer{
    max-width:1400px;

}
.nav-bar{
    padding: 30px 50px;
}
.fa-bars{
    display: none !important;
}

.banner, .features , .features-2, .facts, .sponsors, .features-container {
    max-width:1200px;
}
.banner{
    margin-top: 0;
}
.features-list{
width:45%;
}
.features-image{
    width:45%;
}
.banner-title{
    font-size: 3rem;
}
.btn-styles{
    padding:15px 20px;
}
.btn-feature{
    font-size: 1.5rem;
    padding:15px 20px;
    margin-top: -50px;
}
.sponsors {
    margin-top: 50px;
}
.logo{
 font-size:2rem;
}
h1{
    font-size:1.5rem;
}
}
/* large devices */
@media screen and (min-width:992px) and (max-width: 1200px) {
    .nav-list{
        display: none;

    }
    header{
        padding: 0 30px;
    }
    .fa-bars{
    display: block;
}
    .login-for-mobile{
        display: block !important;
    }
    main{
        margin: 0 30px;
    }
    .features-2{
        flex-direction: column;
    
    }
    .features-list{
        width:100%;
    }
    .features-des-tablet-view{
        margin-left:30px;
    }
    .banner-title{
        font-size:2.5rem;
    }
    .logo{
        font-size:1.8rem;
    }
    .banner-content{
    margin:45px auto;

}
.facts-cards-container{
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(1, 200px);
}
.sponsors{
    margin: 50px auto;
}
.nav-bar{
    padding:30px;
}
}
/* medium devices */
@media screen and (min-width:768px) and (max-width: 992px){
    header,main{
        padding: 0 20px;
    }
.nav-list{
    display: none;
}
.login-for-mobile{
    display: block !important;
}
.nav-bar{
    padding: 30px;
}
.logo{
    font-size: 1.7rem;
}
.banner-title{
    font-size: 2.4rem;
}
.banner-content{
    margin:40px auto;
}
.facts-cards-container{
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(1, 150px);
  gap: 40px;
}
.features-2{
    flex-direction: column;
}
.features-list{
    width:100%;
}
.btn-feature{
    display: none;
}
.sponsors{
    margin: 50px auto;
}









}
@media screen and (min-width:576px) and (max-width:768px) {
    main{
        margin: 0 20px;
    }
    .nav-list{
    display: none;
}
.login-for-mobile{
    display: block !important;
}
.features, .features-2, .sponsors {
 flex-direction: column;
 margin: 0;
 gap:50px;
}
.features{
    margin-top: 20px;
}
.features-list, .banner-content, .planners-descriptions{
    width:100%;
}
.facts-cards-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.sposors-companies-container{
    grid-template-columns: repeat(1, 100px);
    justify-content: center;
    gap: 30px;
}

.sponsors-subtitle{
    margin: 20px 50px;
}

.banner-title{
    font-size: 2.25rem;
}
.features-title{
    font-size:2.25rem ;
}
.nav-bar{
    padding: 20px;
}
.logo{
    font-size:1.6rem;
}
.header{
    height: auto;
    padding: 20px;
 
}
.banner-content{
    margin:30px auto;
}
    .btn-feature{
        display: none;
    }
    .banner-title{
        font-size: 2.25rem;
    }
}
/* mini device */
@media screen and (max-width: 576px){
    .header{
        height:auto;
        padding-bottom: 20px;
        width:auto;
    } 
    .nav-bar{
        padding:20px;
    }
    .nav-list{
        display: none;
    }
.features{
    flex-direction: column;
    padding: 20px;
    margin: 0;
}
    .login-for-mobile{
        display: block !important;
    }
.banner-content{
    width:100%;
    margin: 20px auto;
}
.banner-image{
    margin: 10px;
}
.banner-title{
    font-size: 2rem;
    margin: 0 20px;
}
.banner-description, .planners-image{
    margin: 20px 10px;
}
.logo{
    font-size:1.5rem;
}
.features-title{
    font-size: 2rem;
}
.sponsors-title{
    font-size:2rem;
}
.btn-styles{
    padding:10px 14px;
    font-size:1rem;
}
.factcs-number{
    font-size: 2.5rem;
    margin: 5px 0;
}
.facts{
    margin:0 20px;
}
.fact-card{
    padding: 10px;
}
/* features sections */
.features{
    gap: 30px;
}
.planners-image{
    width:100%;
    margin: 0 10px;
}
.planners-descriptions{
    width:100%;
}
/* features-2 */
.features-2{
    flex-direction: column-reverse;
    margin:30px 20px;
}
.features-list{
    width:100%;
    margin-top: 20px;
}
.feature-btn{
    display: none;
}
/* facts */
.features-description{
    margin:20px 0;
}
.facts-cards-container{
    margin-top: 0;
    grid-template-columns: repeat(1, 1fr);
    gap:20px;
}

.sponsors-subtitle{
    margin:20px 50px;
}
.sposors-companies-container{
    margin-top: 50px;
    grid-template-columns: repeat(1 ,80px);
    justify-content: center;
    gap:50px;
}
.planners-image{
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    gap:50px;
}

.footer{
    width: 100%;
    padding:20px 0;
    margin: 0 auto;
    
}
.footer P{
    margin:20px;
}
.banner, .features, .features-2, .sponsors img{
    max-width:100%;
    height:100%;
}
.sponsors{
    margin:30px 0;
}
.features-container{
    margin:20px 0;
}
}